<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Utopia</title>

    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <main class="main-container">
      <div id="groups">
        {{range .Groups}}
        <div class="group">
          <div class="group-header">{{.Name}}</div>
          <div class="group-content">
            {{range .Services}}
            <a href="{{.URL}}" target="_blank" rel="noreferrer" class="service">
              <img class="service-icon" src="{{.IconURL}}" />
              <div class="service-info">{{.Name}}</div>
            </a>
            {{end}}
          </div>
        </div>
        {{end}}
      </div>

      <div class="footer">Utopia</div>
    </main>
  </body>
</html>
